.vc_custom_1465304445467,
.vc_custom_1465394530867 {
    background-color: #2bb24c!important;
}
.vc_custom_1466079083678 {
    background-image: url(../../images/bg-5.jpg)!important;
}
.vc_custom_1465396491707 {
    background-color: #1f5967!important;
}
.vc_custom_1465460471441 {
    background-color: #f5b120!important;
}
.vc_custom_1465465467110 {
	background-image: url(../../images/bg-7.jpg)!important;
}
.vc_custom_1465910689897 {
	background-image: url(../../images/more.png)!important;
}
.vc_custom_1464101475265 {
	background-image: url(../../images/bg-2.jpg)!important;
}
.vc_custom_1465558690228 {
	background-image: url(../../images/Vector-Smart-Object-copy-5.png)!important;
}
.vc_custom_1458549303665 {
	margin-top: 2em!important;
}
.vc_custom_1458549159677 {
	margin-top: 0.8em!important;
}
.vc_custom_1458551876419 {
	margin-top: 2em!important;
}
.vc_custom_1458551941969 {
	margin-top: 0.6em!important;
}
.vc_custom_1463387466221 {
	margin-top: 1em!important;
}
.vc_custom_1465226756070 {
	background-color: #2bb24c!important;
}
.vc_custom_1465226833066 {
	background-color: #f5b120!important;
}
.vc_custom_1465564727884 {
	background-color: #2bb24c!important;
}
.vc_custom_1465564617235 {
	margin-top: 25px!important;
	margin-bottom: 30px!important;
}
.vc_custom_1462280073719 {
	margin-top: 20px!important;
}
.vc_custom_1449071203295 {
	margin-top: 30px!important;
}
.vc_custom_1449134047180 {
	background-color: #ffffff!important;
}
.vc_custom_1465564940870 {
	background-color: #2bb24c!important;
}
.vc_custom_1465565028811 {
	background-color: #2bb24c!important;
}
.contacts_wrap .logo img {
	height: 60px
}



.recentcomments a {
	display: inline!important;
	padding: 0!important;
	margin: 0!important;
}


.social_youtube,
.social_youtube .sc_socials_hover {
	background-image: url(../../images/youtube.png);
}
.social_twitter,
.social_twitter .sc_socials_hover {
	background-image: url(../../images/twitter-h.png);
}
.social_facebook,
.social_facebook .sc_socials_hover {
	background-image: url(../../images/facebook-h.png);
}
.social_vimeo,
.social_vimeo .sc_socials_hover {
	background-image: url(../../images/vimeo.png);
}
.social_pinterest,
.social_pinterest .sc_socials_hover {
	background-image: url(../../images/pinterest.png);
}
.social_linkedin,
.social_linkedin .sc_socials_hover  {
	background-image: url(../../images/linkedin.png);
}
.social_gplus,
.social_gplus .sc_socials_hover {
	background-image: url(../../images/gplus.png);
}

#sc_tab_119_1_33 {
	background: url(../../images/1-2.png);
}
#sc_tab_119_2_36 {
	background: url(../../images/2-2.png);
}
#sc_tab_979_8 {
	background: url(../../images/4-2.png);
}
#sc_tab_578_0 {
	background: url(../../images/3-3.png);
}

.home .vc_custom_1465460471441 .sc_image {
	margin-bottom:1.5em;
}
.home .sc_testimonials .swiper-slide,
.home .sc_testimonials {
	width:900px;
}
.home h2.sc_align_center {
	margin-bottom:0.15em;
	text-align:center;
	color:#00cac9;
}
.home h6.sc_align_center {
	margin-bottom:2.3em;
	text-align:center;
	color:#ffffff;
	font-weight:400;
	font-size:1.428em;
}
.home h6.sc_align_left {
	margin-bottom:1.5em;
	text-align:left;
	color:#ffffff;
	font-weight:400;
	font-size:1.2em;
}
.home .text_uppercase {
	text-align:left;
	color:#ffffff;
}
.home .style_2 {
	height:310px;
	background: url(../../images/info-block-1.jpg);
}
.home .sc_blogger,
.home .sc_columns_count_2 {
	margin-top:medium;
	margin-bottom:medium;
}
.home .sc_tabs_title {
	height: calc(100% / 4);
}
.home .sc_tabs {
	height:310px;
}
.home .vc_custom_1466079083678 .sc_columns_count_2 {
	margin-top:huge;
	margin-bottom:huge;
}
.home .vc_custom_1466079083678 .sc_section {
	margin-top:small;
	margin-bottom:medium;
}
.home .vc_custom_1466079083678 .sc_button {
	margin-right:1.5em;
}

.home3 .sc_promo.style_1 {
	height:181px;
	background: url(../../images/info-block-4.jpg);
}
.home3 .sc_promo.style_2.pct1 {
	height:310px;
	background: url(../../images/info-block-1.jpg);
}
.home3 .sc_promo.style_2.pct2 {
	background: url(../../images/bg-6.jpg);
}
.home3 .sc_promo.style_4 {
	margin-bottom:30px;
	height:181px;
	background: url(../../images/Ellipse-8.png);
}
.home3 .sc_tabs_title {
	height: calc(100% / 4);
}
.home3 .sc_line_style_solid {
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.home .sc_scroll,
.home .sc_clients,
.home2 .sc_clients,
.home2 .swiper-slide,
.home .swiper-slide,
.home3 .swiper-slide,
.home3 .sc_clients {
	width:100%;
}

.home2 .sc_promo.style_4 {
	height:162px;
	background: url(../../images/info-block-2.jpg);
}
.home2 .sc_promo.style_3 {
	height:162px;
	background: url(../../images/info-block-3.jpg);
}
.home2 .sc_promo.style_1 {
	height:162px;
	background: url(../../images/info-block-4.jpg);
}
.home2 .sc_promo.style_2 {
	background: url(../../images/bg-6.jpg);
}
.home2 .sc_columns_count_2 {
	margin-top:huge;margin-bottom:huge;
}
.home2 .vc_custom_1465465467110 h1 {
	text-align:left;
	color:#ffffff;
}
.home2 .vc_custom_1465465467110 h6 {
	margin-bottom:1.5em;
	text-align:left;
	color:#ffffff;
	font-weight:400;
	font-size:1.2em;
}
.home2 .vc_custom_1465465467110 .sc_section {
	margin-top:small;
	margin-bottom:medium;
}

.home2 .vc_custom_1465910689897 .sc_button_color_5,
.home2 .vc_custom_1465465467110 .sc_button_color_5 {
	margin-right:1.5em;
}
.home2 .vc_custom_1465910689897 .sc_section {
	margin-top:medium;
	margin-bottom:medium;
}
.home2 .vc_custom_1465910689897 h1 {
	color:#f5b120;
	font-size:4em;
}
.home2 .vc_custom_1465910689897 h6 {
	margin-bottom:2.5em;
	color:#ffffff;
	font-weight:400;
	font-size:1.2em;
}
.home2 .socials_block {
	background-color:#86d9d2;
}
.home2 .socials_block h6 {
	display: inline-block;
	vertical-align: top;
	margin-top:1.3em;
	margin-right:10px;
	color:#ffffff;
	font-weight:400;
	font-size:1.2em;
}
.home2 .socials_block .sc_socials {
	margin-top:1.3em;
}
.home2 .sc_columns_count_3 .sc_section_block.odd {
	background-color:#2bb24c;
	height:18.66em;
}
.home2 .sc_columns_count_3 .sc_section_block.even {
	background-color:#ea624c;
	height:18.66em;
}
.home2 .sc_columns_count_3 .sc_section_block.last {
	background-color:#f5b120;
	height:18.66em;
}
.home2 .sc_columns_count_3 .padding_on {
	height:18.66em;
}
.home2 .sc_columns_count_3.even h2 {
	margin-top:0.7em;
	margin-bottom:0.4em;
	color:#fff;
}
.home2 .sc_columns_count_3 h6 {
	margin-bottom:2.3em;
	color:#ffffff;
	font-weight:400;
	font-size:0.93em;
}
.home2 .sc_columns_count_3 .sc_button_color_1 {
	margin-right:10px;
}
.home2 .sc_button_color_3 {
	margin-top:1.4em;
}

.aboutus .sc_line {
	margin-top:medium;
	margin-bottom:medium;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}

.aboutus .sc_why_title,
.aboutus .sc_skill_title {
	margin-bottom:1.5em;
	text-align:left;
}
.teampg .sc_line {
	margin-top:medium;
	margin-bottom:medium;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.teampg .social_youtube,
.teampg .social_youtube .sc_socials_hover {
	background-image: url(../../images/youtube.png);
}
.teampg .sc_title{
	margin-bottom:1.5em;
	text-align:left;
}
.shortcodespg .sc_skill_1,
.aboutus .sc_skill_1,
.single-team .sc_skill_1,
.teampg .sc_skill_1{
	background-color:#f5b120!important; 
	border-color:#f5b120!important;
}
.shortcodespg .sc_skill_2,
.aboutus .sc_skill_2,
.single-team .sc_skill_2,
.teampg .sc_skill_2{
	background-color:#ea624c!important;
	border-color:#ea624c!important;
}
.shortcodespg .sc_skill_3,
.aboutus .sc_skill_3,
.single-team .sc_skill_3,
.teampg .sc_skill_3{
	background-color:#2bb24c!important;
	border-color:#2bb24c!important;
}
.shortcodespg .sc_skill_4,
.aboutus .sc_skill_4,
.single-team .sc_skill_4,
.teampg .sc_skill_4{
	background-color:#12aee0!important; 
	border-color:#12aee0!important;
}

.single-team .sc_socials_size_medium {
	margin-top:2em;
}
.single-team h2 {
	margin-bottom:1.5em;
	text-align:left;
}
.single-team h3 {
	margin-bottom:0.3em;
}
.single-team h6 {
	margin-bottom:2.2em;
	color:#12aee0;
	font-weight:400;
	font-size:12px;
}
.single-team .sc_line {
	margin-top:medium;
	margin-bottom:medium;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.contactus .sc_columns_count_4 .sc_image {
	margin-bottom:1.4em;
}
.contactus h5 {
	text-align:center;
}
.contactus h1.sc_title {
	margin-bottom:1em;
	text-align:center;
	color:#ffffff;
}
.home .contacts_wrap_inner,
.home2 .contacts_wrap_inner,
.contactus .contacts_wrap_inner {
	background-color: #EA624C;
}
.contactus .sc_form {
	width:570px;
}
.contactus .sc_googlemap {
	width:100%;
	height:400px;
}

.faqpg .sc_toggles_item.first .sc_toggles_content {
	display:block;
}
.faqpg .sc_promo {
	background-color: #12aee0;
}
.faqpg .sc_call_to_action {
	margin-top:large;
	width:100%;
}

.error404 .bg_custom {
	background: url(../../images/15_404.png) left top no-repeat fixed;
	background-color: #ffffff;
}

.typographypg .sc_line_style_solid {
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.typographypg .sc_align_left {
	text-align:left;
}
.typographypg .sc_list_icon {
	color:#2bb24c!important;
}
.typographypg .sc_button,
.typographypg .sc_section_1,
.typographypg .sc_section_2 {
	margin-bottom:1em;
}
.typographypg .sc_section_1 .sc_button{
	margin-left:-0.5em;
}
.typographypg .sc_section_1 .sc_button,
.typographypg .sc_section_2 .sc_button {
	margin-right:0.5em;
}
.typographypg .sc_section_3 .sc_button {
	margin-right:1.5em;
}


.typographypg .sc_align_center {
	text-align:center;
}

.shortcodespg .sc_testimonials,
.shortcodespg .swiper-slide,
.shortcodespg .sc_video_frame,
.shortcodespg .sc_slider {
	width:100%;
}
.shortcodespg .sc_line_style_solid {
	margin-top:6.66em;
	margin-bottom:6.66em;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.shortcodespg .sc_price_block {
	width:350px;
}
.shortcodespg .sc_googlemap {
	width:870px;
	height:490px;
}

.blogpg .swiper-wrapper,
.blogsidebar .swiper-wrapper {
	height:770px;
}

.supportpg .sc_line_style_solid {
	margin-top:huge;
	margin-bottom:large;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.supportpg .sc_align_center {
	text-align:center;
}
.supportpg h4 {
	margin-top:small;
	margin-bottom:small;
}
.videopg .purchase_title,
.custompg .purchase_title,
.supportpg .purchase_title {
	font-weight:400;
}

.supportpg .sc_call_to_action,
.home .sc_video_frame,
.videopg .sc_video_frame,
.videopg .sc_call_to_action,
.custompg .sc_call_to_action {
	width:100%;
}


.custompg .sc_title_regular {
	text-align:center;
	margin-bottom:tiny;
}
.custompg .sc_line_style_solid {
	margin-top:huge;
	margin-bottom:large;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.custompg .sc_price_block_description p {
	text-align:center;
}

.videopg h3 {
	margin-bottom:1.5em;
}
.videopg .sc_line_style_solid {
	margin-top:large;
	margin-bottom:medium;
	border-top-width:8px;
	border-top-style:solid;
	border-top-color:#f2f2f2;
}
.videopg .aligncenter {
	margin-top:medium;
	margin-bottom:medium;
}


.shoppg .sc_promo {
	background-color: #12aee0;
}


.sw_slide_1 {
	background-image:url(../../images/image-1-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_2 {
	background-image:url(../../images/image-2-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_3 {
	background-image:url(../../images/image-3-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_4 {
	background-image:url(../../images/image-4-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_5 {
	background-image:url(../../images/image_6-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_5 {
	background-image:url(../../images/image_6-1170x770.jpg);
	width:1170px;
	height:770px;
}
.sw_slide_6 {
	background-image:url(../../images/image-8.jpg);
	width:100%;
}
.sw_slide_7 {
	background-image:url(../../images/image-5.jpg);
	width:100%;
}
.sw_slide_8 {
	background-image:url(../../images/image-4.jpg);
	width:100%;
}


#sc_clients_319,
.servicespg .swiper-slide {
	width:100%;
}
.servicespg .sc_line {
	border-top-width:8px;
	border-top-style:solid;
}
.servicespg .sc_title {
	margin-bottom:1.6em;
	text-align:center;
}
.servicespg .sc_price_block {
	width:350px;
}

#sc_team_494 {
	margin-bottom:medium;
	width:100%;
}


#sc_testimonials_313 .swiper-slide,
#sc_testimonials_313 {
	width:900px;
}

#sc_team_302 {
	margin-bottom:medium;
	width:100%;
}

#sc_tabs_630 {
	height:310px;
}

#sc_tab_119_1_33 {
	background: url(../../images/1-2.png);
}
#sc_tab_119_2_36 {
	background: url(../../images/2-2.png);
}
#sc_tab_979_8 {
	background: url(../../images/4-2.png);
}
#sc_tab_578_0 {
	background: url(../../images/3-3.png);
}

.centext {
	text-align: center;
}
.leftext {
	text-align: left;
}
.rightext {
	text-align: right;
}

.widthfull {
	width:100%;
}
.width-4_5 {
	width:80%;
}
.widthhalf {
	width:50%;
}
.width-870 {
	width:870px;
}
.width-630 {
	width:630px;
}


.em_height_1 {
	height: 1em;
}
.em_height_2 {
	height: 2em;
}
.em_height_2-5 {
	height: 2.5em;
}
.em_height_2-7 {
	height: 2.7em;
}
.em_height_3 {
	height: 3em;
}
.em_height_3-5 {
	height: 3.5em;
}
.em_height_3-8 {
	height: 3.8em;
}
.em_height_4 {
	height: 4em;
}
.em_height_4-1 {
	height: 4.1em;
}
.em_height_4-2 {
	height: 4.2em;
}
.em_height_4-3 {
	height: 4.3em;
}
.em_height_4-4 {
	height: 4.4em;
}
.em_height_4-5 {
	height: 4.5em;
}
.em_height_4-6 {
	height: 4.6em;
}
.em_height_5 {
	height: 5em;
}
.em_height_5-9 {
	height: 5.9em;
}
.em_height_6 {
	height: 6em;
}
.em_height_6-1 {
	height: 6.1em;
}
.em_height_6-5 {
	height: 6.5em;
}
.em_height_6-7 {
	height: 6.7em;
}
.em_height_7-66 {
	height: 7.66em;
}
.em_height_8-8 {
	height: 8.8em;
}
.em_height_9 {
	height: 9em;
}
.em_height_10-5 {
	height: 10.5em;
}
.em_height_12 {
	height: 12em;
}
.em_height_14-5 {
	height: 14.5em;
}
.em_height_18 {
	height: 18em;
}

.px_height_30 {
	height: 30px
}


.topbot_lrg {
	margin-top:large;
	margin-bottom:large;
}
.topbot_med {
	margin-top:medium;
	margin-bottom:medium;
}
.topbot_small {
	margin-top:small;
	margin-bottom:small;
}


.mgbot_tiny {
	margin-bottom:tiny;
}
.mgbot_huge {
	margin-bottom:huge;
}

.em_mgbot_1 {
	margin-bottom:1em;
}
.em_mgbot_1-5 {
	margin-bottom:1.5em;
}
.em_mgbot_1-6 {
	margin-bottom:1.6em;
}
.em_mgbot_2-5 {
	margin-bottom:2.5em;
}

.mgtop_small {
	margin-top:small;
}
.em_mgtop_1-4 {
	margin-top:1.4em;
}
.px_mgtop_30 {
	margin-top:30px;
}

.sc_emailer_input {
	margin-right: -1px;
}
#sc_services_401,
#sc_services_238 {
	margin-top:medium;
	margin-bottom:medium;
	width:100%;
}

#sc_services_025 {
	width:100%;
}